<footer id="container-fluid">
      <hr>
<div id="cvicon"> 
<a href="https://www.linkedin.com/in/josip-bognar/"><img id="icoimg" src="../../../assets/linkedin.png"></a> 
<a href="../../../assets/resume.png"><img id="icoimg" src="../../../assets/cvicon.png"></a>
<a href="https://github.com/Bognar"><img id="icoimg" src="../../../assets/github.png"></a>      
</div>
<hr>
<span id="footertext">Content from this site may not be reproduced without prior written permission.
    <br>
        Copyright   ©   1983-XXXX     Josip Bognar     All Rights Reserved</span>
</footer>
