.cardpost {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px; 
     
}
#subtitle {
    color: #bbb;
    font-family: monospace;

}
#subtitle2 {
    color: #bbb;
    font-family: monospace;

}
#subtitle2::before {
    content:url("../../../assets/calendar.png")
}
#subtitle3 {
    color: #bbb;
    font-family: monospace;

}
#subtitle3::before {
    content:url("../../../assets/tags.png");

}
#subtitle::after {
    content:url("../../../assets/man.png");
    
}
#figure {
    width: 100px;
    height: 100px;
    right: 10px;
    top: -20px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    border-radius: 50px 0px 0px 0px;
}