<div id="textmiddle"><h3>hi again {{visitor}}!</h3>
  <br>
  <p>Here you can check my work, hope you will like it!</p></div>

  <div class="container">
      <div class="row">
          <div *ngFor="let display of mywork" >
             <div class="col-sm-6 mx-auto" style="height:300px;"> 
              <span id="cardset">
                <h5 id="titletext">{{display.title}}</h5>
              </span>
              <br>
              <span id="worktext">{{display.description | slice:0:200}}...</span>
             <br>
              <span id="workapps">{{display.tech}}</span>
              <br>
              <a type="button" class="btn btn-light" id="buttongit" href="{{display.url}}">Git repo</a>
              <a *ngIf="display.download" type="button" class="btn btn-light" id="buttondownload" href="{{display.download}}">Download</a>
              </div>
              </div>
      </div>
  </div>
  