#cardset {
    width: 360px;
    background-repeat: no-repeat;
    height: 60px;
    display:block;
    background-position-x: center;
    background-size: 360px;
    margin: 20px 10px;
    background-image: url("../../../assets/worktape.png");
    
}
#imgsetthem {
    object-fit: cover;
    width:270px;
    height:270px;
}
#textmiddle {
    text-align: center;
}
#titletext {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 15px;
    width: 220px;
    left: 150px;
    text-shadow: 2px 2px 4px #000;
}
#worktext {
    width: 320px;
    position: absolute;
    left: 90px;
    top: 70px;
    height: auto;
}
#workapps {
    width: 320px;
    position: absolute;
    left: 90px;
    top: 210px;
    height: auto;
    font-family: monospace;
}
#buttongit {
    position: absolute;
    top: 270px;
    left: 90px;
}
#buttondownload {
    position: absolute;
    top: 270px;
    left: 290px;
}