
    <!--<nav role="navigation" class="navbar navbar-expand-lg" id="navback">
    <div class="navbar-brand" >
      <a href="https://www.linkedin.com/in/josip-bognar/" target="_blank">in </a>
      <a href="https://github.com/Bognar" target="_blank">Git </a>

    </div>
    
    
      <div routerLink="/" id="sprite"></div>
    <button style="outline:none"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><img style="width:50px" src="assets/hamb.png"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/work">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>-->
  <div id="menu">
 <a routerLink="/"> <img id="imagemenu" src="../../../assets/home.png"></a>
 <a routerLink="/work"> <img id="imagemenu" src="../../../assets/work.png"></a>
  <a routerLink="/blog">  <img id="imagemenu" src="../../../assets/blog.png"></a>
    <a routerLink="/contact">  <img id="imagemenu" src="../../../assets/contact.png"></a>
</div>