<div class="container">
 <div class="row">
    <div *ngFor="let item of posts | async;" class="cardpost" >
        <div class="row">
          <div class="col-sm-6">
            <h3>{{item.title}}</h3>
            <span id="subtitle">by {{item.author}}</span>
            <hr>
            <span id="subtitle2"> {{item.date}}&nbsp;&nbsp;/&nbsp;&nbsp;</span>
            <span id="subtitle3"> {{item.tags}}</span><br />
            {{item.desc}}<br />
            <span [innerHTML]="item.html | slice:0:600"></span>
            <br />
            <div class="bigbutton" [routerLink]="[ '/blog', item.key ]">Continue Reading...</div>
          </div>
          <div class="col-sm-6"><span id="figure"
              [ngStyle]="{'background-image': 'url(../assets/' + item.imgPath + ')'}"></span></div>
          <br />
                   
        </div>
          </div>
    </div>
 </div> 

