.padme {
    padding-top:100px;
}
.padme2 {
    
    text-align: center;
}
#animateblock {
    animation-name: yellowbump;
    animation-delay: 2s;
    animation-duration: 1s;
    opacity:0;
    animation-fill-mode: forwards;
}
#animateblock2 {
    animation-name: yellowbump;
    animation-delay: 3s;
    animation-duration: 1s;
    opacity:0;
    animation-fill-mode: forwards;
}
/* timeline for element  */
@keyframes yellowbump {
    0% {
        opacity:0;
    }
    
    100% {
        opacity:1;
    }
}
#envir {
    text-align: left;
}