<div class="container">
  <div class="row">
    <div class="col-md-6 padme">
      <h3>Hello, my name is Josip Bognar.</h3>
      <h5>I am self-taught front-end developer with focus on writing clean, readable and efficient code.
        Also, I have a good eye for details and that is what helps me to make pixel perfect presentation.
        <br><br>
        I striv to make well-crafted responsive websites with the focus on mobile. Meeting code and performance standards.
      </h5>
      <br><span style="color:#1DBCB2">Can you tell me your name?</span><br>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [disabled]='disable' placeholder="" aria-label="Recipient's username"
          aria-describedby="button-addon2" [(ngModel)]="visitor" required>
        <div class="input-group-append">
          <button (click)="saveData()" class="btn btn-outline-secondary" type="button"
            id="button-addon2">Send</button>
        </div>
      </div>
      <br>
    </div>
    <div class="col-md-6 padme2">
      <h3>My Skills</h3><br>
      <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
        [chartType]="polarAreaChartType" [options]="polarAreaOptions" >
      </canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 padme2" id="animateblock">
      <h3>Working environment</h3>
      <div id="envir">
        <b>Visual Studio Code</b> - I use VSC because it's simple, has built-in terminal and big repository of add-ons like Open Server.<br>
        <b>Git</b> - Can't live without it!<br>
        <b>Adobe Photoshop</b> - Using it only to edit and slice elements or make some filters on image.<br>
        <b>Inkscape</b> - Using it to create SVG to animate and also to create element by using layers.<br> 
        <b>Adobe XD</b> - really simple app to make wirefames or prototype.<br>
        <b>NPM</b> - Can't live anymore without it!<br>
        <b>Angular CLI</b> - Saves time, more focused on main logic of app because of it.<br>
        <b>Windows</b> - Well, linux ubuntu is also ok, but I am addicted to some apps that are only on Windows OS.<br>
        <b>StackOverflow</b> - better than Wikipedia and always so trustworthy.
      </div>
    </div>
    <div class="col-md-6 padme2" id="animateblock2">
      
     <div *ngIf="monkey > 70, else monkeytemplate">
       <br>
       That was awesome {{visitor}}!<br><br>
       Small things can make us happy. 
       If you want to get web gadgets like this on your website, just get in touch with me!
       <br>
       <a type="button" class="btn btn-light" id="buttonreset" (click)="monkeyreset()">Another try?</a>
     </div>
      <ng-template #monkeytemplate>
          <h5>Hi <b>{{visitor}}!</b></h5>
          <br>
          <p >Can you help this small monkey to get bananas?</p>
          <div id="monkeycage">
        <img id="monkeysprite" [style.left.%]="monkey" src="../../../assets/monkeyspirite.png">
        <img id="banana" src="../../../assets/bananas.png">
        <a type="button" class="btn btn-light" id="buttongit" (click)="monkeygo()">Run</a>
      </div>
      </ng-template>
    
    </div>
  </div>
</div>